[html]
page_title = Change your password on example.org

[ldap]
host = localhost
port = 636
use_ssl = true
ca_cert = ca.cert
base = ou=People,dc=example,dc=org
search_filter = uid={uid}
anon_bind = false

# Uncomment for AD / Samba 4
#type = ad
#ad_domain = ad.example.org
#search_filter = sAMAccountName={uid}

[server]
server = auto
host = localhost
port = 8080
